@using ManagementApplication.BaseEntity
@using ManagementApplication
@model Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Создать</h1>

<h4>Покупателя</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCustomer" class="control-label"></label>
                <input asp-for="AddressCustomer" class="form-control" />
                <span asp-validation-for="AddressCustomer" class="text-danger"></span>
            </div>
            <div>
                @Html.DropDownList("Status", new SelectList(new string[] { StatusTD.Failure.ToString(), StatusTD.Success.ToString() }), "Выберите Статус")
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>