@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Покупатели</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <form method="post" asp-action="Edit">
                    <td>
                        <input type="text" name="Id" value="@item.Id" />
                    </td>
                    <td>
                        <input type="text" name="Name" value="@item.Name" />
                    </td>
                    <td>
                        <input type="text" name="Status" value="@item.Status" />
                    </td>
                    <td>
                        <button type="submit">Сохранить</button>
                    </td>
                </form>
            </tr>
        }
    </tbody>
</table>