@model IEnumerable<Resource>

<h2>Ресурсы</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resource in Model)
        {
            <tr>
                <td>
                    <input type="text" asp-for="@resource.Id" />
                </td>
                <td>
                    <input type="text" asp-for="@resource.Name" />
                </td>
                <td>
                    <input type="text" asp-for="@resource.Status" />
                </td>
                <td>
                    <form method="post" asp-action="Edit">
                        <input type="hidden" name="id" value="@resource.Id" />
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>